body {
  font-family: Verdana, Tahoma, Segoe UI, sans;
  background: white;
  background-image: url("../img/ladne.bmp"), url("../img/wvnet.gif");
  background-position: left top, right bottom;
  background-attachment: fixed;
  background-position-x: top;
  background-position-y: left;
  background-repeat: no-repeat;
}
a {
  color: blue;
}
p.ask {
  font-family: Times New Roman;
  font-style: italic;
  font-weight: bold;
  font-size: 160%;
}
p.ans {
  font-family: Verdana;
}
.cover {
  width: 900px;
}

.didyouknow{
  background-color:#ffffdf;
  border:1px inset #00000078;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size:90%;
}

.komunikatory{
  background-color:#e1e1e1;
  border:1px inset #00000078;
  display: flex;
  align-items: center;
  justify-content: center;
  padding:10px;
}

img.zaroweczka{
  padding:10px;
}

.guzik{
    padding: 0.50rem 1.25rem;
    margin:3px;
    border:2px outset black;
    color:black;
    text-decoration: none;
}

.guzik:active{
    border:2px inset black;
}

.lead2{
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size:150%;
  font-style: italic;
}

.menu{
  font-size:70%;
  text-transform: uppercase;
  padding-top:3px;
}